<header class="fixed top-0 w-full bg-white shadow z-50">
  <nav class="container mx-auto flex justify-between items-center p-4">
    <a href="" class="flex items-center">
  <img src="/logo/logo1.png" alt="logo1" class="h-8 w-auto">
</a>
    <ul class="flex gap-4 font-medium">
      <li><a href="#services" class="hover:text-indigo-600">Services</a></li>
      <li><a href="#pricing" class="hover:text-indigo-600">Tarifs</a></li>
      <li><a href="#cta" class="hover:text-indigo-600">Contact</a></li>
    </ul>
  </nav>
</header>
