<header class="fixed top-0 w-full bg-slate-950/80 backdrop-blur z-50">
  <nav class="container mx-auto flex justify-between items-center py-2 sm:py-3">
    <a href="{{ '/' | relative_url }}" class="flex items-center gap-6">
  <img src="/logo1.png" alt="logo1" class="flex items-center gap-4">
 <div class="leading-tight text-white">
    <span class="block font-bold text-indigo-400">PIERRE&nbsp;ASSIST – Pierre&nbsp;AUSSURIN&nbsp;TEYTAUX</span>
    <span class="block text-xs sm:text-sm text-gray-300">Assistant indépendant basé à Saint-Maixent-l’École</span>
  </div>
</a>
    <ul class="flex gap-4 font-medium">
      <li><a href="#cta" class="hover:text-indigo-400">Contact</a></li>
    </ul>
  </nav>
</header>
